<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="{{app_address}}/static/favicon.png">
<link rel="stylesheet" href="{{app_address}}/static/css/libs/w3.css">
<script src="{{app_address}}/static/lib/jquery/3.6.0/jquery.{{mode}}.js"></script>


<html>
<head>
  <title>广播系统[{{username}}]</title>
</head>
<style>
.fixed-footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #009688;
   color: white;
   text-align: center;
}
</style>
<body>
<div class="w3-container w3-padding-16 w3-responsive" style="max-width: 75em; display: block; margin-left: auto; margin-right: auto;">
  <header class="w3-container w3-teal">
    <div class="w3-cell-row">
      <div class="w3-container w3-cell">
        <h3>广播系统</h3>
      </div>
      <div class="w3-container w3-cell w3-cell-middle">
        <div class="w3-right w3-dropdown-hover" style="margin-right: 1em;">
          <button class="w3-white w3-border w3-button">时间表&nbsp;▾</button>
          <div class="w3-dropdown-content w3-bar-block w3-card-4">       
            <a onclick="downloadSchedule()" class="w3-bar-item w3-button">下载</a>
            <a class="w3-bar-item w3-button" onclick="uploadSchedule()" >上传并应用</a>
            <form id="form-schedule-upload" method="post" enctype="multipart/form-data">
              <input id="schedule-input" type="file" name="schedule-file" style="display: none;" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </header>
  <ul class="w3-ul">
    {% for i in range(0, playback_items|length) %}
      <li class="w3-container" onClick="selectSpeaker('{{playback_items[i][1]}}');"
          style="padding-top:1px; padding-bottom:1px">
        <p style="font-weight:bold; margin-top:7px; margin-bottom:1px;">
          <span>{{playback_items[i][0]}}</span>
          <span class="w3-right">{{playback_items[i][2]}}</span></p>
        <p style="margin-top:1px; margin-bottom:7px">{{playback_items[i][1]}}</p>
      </li>
    {% endfor %}
  <ul>
  <div id="msg-box" class="w3-modal">
    <div class="w3-modal-content w3-animate-top">
      <header class="w3-container w3-teal"> 
        <span onclick="document.getElementById('msg-box').style.display='none'" 
        class="w3-button w3-display-topright">&times;</span>
        <h2>提示</h2>
      </header>
      <div class="w3-container">
        <p id="msg-body"></p>
        <p><button id="okay-button" onclick="document.getElementById('msg-box').style.display='none';" class="w3-right w3-button w3-teal">确定</button></p>
      </div>
    </div>
  </div>
  <div id="msg-box-select-devices" class="w3-modal">
    <div class="w3-modal-content w3-animate-top">
      <header class="w3-container w3-teal"> 
        <span onclick="document.getElementById('msg-box-select-devices').style.display='none'" 
        class="w3-button w3-display-topright">&times;</span>
        <h2>选择操作</h2>
      </header>
      <div class="w3-container">
        <div><form id="form-devices">
        <input id="input-music-name" value="" hidden>
        {%for i in range(0, agent_names_list|length)%} 
          <span class="w3-tag w3-white w3-left w3-medium" style="font-family:monospace;">
          <input id="checkbox-{{agent_names_list[i]}}" 
                 class="w3-check"
                 type="checkbox"
                 value="{{agent_names_list[i]}}"
                 onclick="document.getElementById('button-okay-select-devices').removeAttribute('disabled')">
          <label for="checkbox-{{agent_names_list[i]}}">{{ "%-4s"| format(agent_names_list[i]) |replace(" ", "&nbsp;")|safe }}</label></span>
        {%endfor%}
        </form></div>
        <footer class="w3-container">
          <p>
            <button id="button-okay-select-devices" onclick="manualPlay();" class="w3-right w3-button w3-teal" disabled>
              播放
            </button>
          </p>
        </footer>
      </div>
    </div>
  </div>
</div>
<div class="fixed-footer">
  <div class="w3-cell-row">
    <div class="w3-container w3-cell">
      <button onclick="clientHealthCheck();" class="w3-left w3-white w3-border w3-button" style="margin-top:0.33em;">健康检查</button>
    </div>
    <div class="w3-container w3-cell">
      <p class="w3-right" >[{{username}}]，<a href="#" onclick="logout();">退出登陆</a></p>
    </div>
  </div>
</div>
</body>
<script>


document.getElementById('schedule-input').onchange = function() {

  const XHR = new XMLHttpRequest();
  XHR.timeout = 10000;
  const FD = new FormData(document.getElementById('form-schedule-upload'));

  document.getElementById('okay-button').style.display = 'none';
  
  XHR.onreadystatechange = function(e) {
    
    if (XHR.readyState === 4) {
      document.getElementById('msg-box').style.display='block';
      if (XHR.status === 200) {
        document.getElementById('msg-body').innerHTML = '<div>' + XHR.responseText.toString() + '</div>';
      } else {
        document.getElementById('msg-body').innerHTML = '<b>错误</b>: 时间表上传/应用失败！错误信息：<br><br>'
        document.getElementById('msg-body').innerHTML += XHR.responseText;
      }
      document.getElementById('okay-button').style.display = 'block';
    }
  }
  XHR.ontimeout = function () {
    document.getElementById('msg-body').innerHTML = '<b>错误</b>: 连接超时';
    document.getElementById('okay-button').style.display = 'block';
  }
    
  XHR.open('POST', '{{app_address}}/upload_schedule/');
  XHR.send(FD);
  
};

function downloadSchedule() {
  window.open('{{app_address}}/download_schedule/?dummy=' + Math.floor(Math.random() * 10000).toString());
}

function manualPlay() {
  document.getElementById('msg-box-select-devices').style.display='none';
  form = document.getElementById('form-devices')
  devices = '';
  for (var i = 0; i < form.elements.length; i++) {
      if (form.elements[i].type == 'checkbox') {
        if (form.elements[i].checked == true) {
          devices += form.elements[i].value + ',';
        }
      }
  }
  devices = devices.slice(0, -1);
  musicName = document.getElementById('input-music-name').value;
  submission(
    `{{app_address}}/play/?sound_name=${encodeURIComponent(musicName)}&devices=${encodeURIComponent(devices)}`
  );
}

function selectSpeaker(musicName) {
 
  document.getElementById('msg-box-select-devices').style.display = 'block';
  document.getElementById('input-music-name').value = musicName;

}

function clientHealthCheck() {
  $.ajax({
    url:"{{app_address}}/client-health-check/",
    type:"GET",
    success: (data, status) => {
      alert(JSON.stringify(data));
    },
    error: (jqXHR, textStatus, errorThrown) => {
      // Possible values for the second argument (besides null) are "timeout", "error", "abort", and "parsererror"
      alert("错误：\n" + errorThrown + "\n" + jqXHR.responseText);
    }
  });

}

function uploadSchedule() {
  document.getElementById('schedule-input').click();
}

function submission(url, msg){
  const xhr = new XMLHttpRequest();
  xhr.timeout = 10000; // server's timeout to client is 5 sec, so here we set it to 10 sec.

  xhr.onreadystatechange = (e) => {
    if (xhr.readyState === 4) {
      if (xhr.status === 200) {
        msg = xhr.responseText;
      } else if (xhr.status === 0) {
        msg = '指令发送错误: 无法连接到服务器';
      }else {
        msg = '指令发送错误:<br>HTTP状态码: ' + xhr.status.toString() + '<br>服务器返回消息: ' + xhr.responseText;
      }
      document.getElementById('msg-box').style.display='block';
      document.getElementById('msg-body').innerHTML= msg;
    }
  }
  xhr.ontimeout = function () {
    msg = '指令发送超时';
  }
  xhr.open('get', url, true)
  xhr.send();
}

function logout() {
  window.location.replace('{{app_address}}/logout/');
}
</script>
</html>